body 
{
    text-align: center;
}

button 
{
    padding: 10px; /*spazio tra testo e bordo*/
    margin: 10px; /*spazio tra bordo e il resto*/
}

.pulsanti
{
    color: #FFFFFF; /* testo */
    background-color: #0000FF; /* sfondo*/
}